@font-face {
    font-family: pixl;
    src: url(flix/small_pixel-7.ttf);
}

* {
    font-family: pixl;
    
}

body {
    background: url("flix/webbby bg.png");
    background-size: cover;
    color: #ffffff;
    position: relative;
    font-size: 21px;
}

a {
    color: white;
}

div {
    left: 38.6%;
    margin-top: 16%;
    text-align: center;
    position: absolute;
    
    width: 25%;
    border: solid;
    border-color: white;
}

#txt {
    position: absolute;
    margin-left: 776px;
    margin-top: 11%;
    padding: 0px;
    width: 398px;
    height: 90px;
}

#imag {
    position: absolute;
    rotate: -11deg;
    margin-left: 230px;
    margin-top: 80px;
}

@media screen and (max-width: 500px) {
    div {
        left: 11.6%;
        margin-top: 97%;
        text-align: center;
        position: absolute;
        font-size: 15px;
        
        width: 75%;
        border: solid;
        border-color: white;
    }
    #txt { 
        width: 250px;
        height: 55px;
        margin-left: 80px;
        margin-top: 330px;
    }    

    #imag {
        display: ;
        position: absolute;
        rotate: -11deg;
        margin-left: 95px;
        margin-top: 60px;
        width: 200px;
        height: 290px;
    }
}

@media screen and (max-width: 400px) {
    div {
        left: 11.6%;
        margin-top: 105%;
        text-align: center;
        position: absolute;
        font-size: 13px;
        
        width: 75%;
        border: solid;
        border-color: white;
    }
    #txt { 
        width: 230px;
        height: 50px;
        margin-left: 64px;
        margin-top: 310px;
    }    

    #imag {
        position: absolute;
        rotate: -11deg;
        margin-left: 85px;
        margin-top: 85px;
        width: 170px;
        height: 230px;
    }
}