@font-face {
    font-family: pixl;
    src: url(flix/small_pixel-7.ttf);
}

* {
    font-family: 'Courier New', Courier, monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: #e2e7f2;
}

body {
    background-color: #000329;
    color: #e2e7f2;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.65rem;
}

#txt {
    min-width: 20%;
    max-width: 90%;
    min-height: 10%;
}

.wrappi {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headie {
    display: flex;
    justify-content: center;
    padding-top: 1.3rem;
}

.gridder {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.econb {
    grid-column: 2;
    font-size: 0.8rem;
}

h2 {
    text-align: center;
    line-height: 1.4rem;
}

.roulette {
    display: flex;
    justify-content: center;
    padding-top: 21vh;
    padding-bottom: 21vh;
    border: solid;
    border-width: 1.5px;
    border-radius: 13rem 7rem;
    border-color: #e2e7f2;
    
}

#happyM {
    text-align: center;
}

.leftEcon {
    grid-column: 1;
    grid-row: 1;
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 20px;
        font-weight: bold;
    }

    .headie {
        display: flex;
        place-content: center;
    }

    #txt {
        min width: 170%;
    }

    .econb {
        text-align: left;
        font-size: 1.1rem;
    }
    
    .econb h2 {
        text-align: center;
    }
}